<nz-header class="main-header" nz-row nzType="flex">
  <div>
    <h2>Tiko</h2>
  </div>

  <div class="nav-link">
    <a nz-button nzType="link" routerLink="/Home" routerLinkActive="active">Home</a>
    <a nz-button nzType="link" routerLink="/Booking" routerLinkActive="active">Boking</a>
    <a nz-button nzType="link" routerLink="/Account" routerLinkActive="active">Account</a>
    <a nz-button nzType="link" routerLink="/Event" routerLinkActive="active">Event</a>
  </div>
</nz-header>

<router-outlet></router-outlet>