<nz-header class="main-header" nz-row nzType="flex">
  <div class="logo">
    <h2>Tiko</h2>
  </div>

  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
    <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
    <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Account</a>
    <a nz-button nzType="link" routerLink="/event" routerLinkActive="active">Event</a>
  </div>
</nz-header>

<router-outlet></router-outlet> 