.container {
    height: 100vh;
}

.card {
    width: 400px;

    border-radius: 8px;
}

h1 {

    font-weight: 500;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

button {
    width: 100%;
}

a {

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}